includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10
    paths:
        - src/Testing
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - tests/
        - src/Http.php
