<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="HTTP_PROXY_HOST" value="127.0.0.1" force="false"/>
        <env name="HTTP_PROXY_PORT" value="8888" force="false"/>

        <env name="SOCKS5_PROXY_HOST" value="127.0.0.1" force="false"/>
        <env name="SOCKS5_PROXY_PORT" value="1080" force="false"/>
        <env name="SOCKS5_USER" value="" force="false"/>
        <env name="SOCKS5_PASS" value="" force="false"/>

        <env name="SOCKS4_PROXY_HOST" value="127.0.0.1" force="false"/>
        <env name="SOCKS4_PROXY_PORT" value="1081" force="false"/>

        <env name="HTTPBIN_HOST" value="127.0.0.1" force="false"/>
        <env name="HTTPBIN_PORT" value="8080" force="false"/>
    </php>
</phpunit>